<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8" />
    <title>User Tracking</title>
    <base href="/" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/404.css" />
</head>
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="hgroup">
        <h1>404 Error</h1>
        <h2>Sorry, Nothing Found</h2>
      </div>
      <div class="positioned">
        <p>The Page You Requested Could Not Be Found On Our Server</p>
        <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit elit ac aliquat non tincidunt. Namjusto cras urna urnaretra lor urna neque sed quis orci nulla.</p>
        <div id="respond" class="clear">
          <form action="#" method="post">
            <fieldset>
              <legend>Site Search</legend>
              <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
              <input type="submit" id="submit" value="Search">
            </fieldset>
          </form>
          <p><a href="javascript:history.go(-1)">Previous</a> / <a href="#">Homepage</a></p>
        </div>
      </div>
    </section>
  </div>
</div>
</html>