<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8" />
  <title>User Tracking</title>
  <base href="/" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <meta name="fragment" content="!" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,400i,500,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.min.css" /> </head>

<body>
  <div flex layout="column" layout-fill>
    <div id="loading-bar-container"></div>
    <div ui-view="" class="parent-ui-view" layout-fill></div>
  </div>
</body>
<script type="text/javascript" src="/javascripts/app.min.js"></script>

</html>